
<div class="alert alert-success" *ngIf="msg !=undefined"> {{msg}}</div>
<div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>

<div *ngIf="updateDiv"> 
    <Div class="mt-2 text-center" ><H1 >Update Activity.</H1> </Div>
    <form #frm="ngForm" (ngSubmit)="updateActivity()">
        <div>Activity ID</div>
        <div><input type="number" name="aid" [(ngModel)]="modifyActivity.activityId" required #accid="ngModel" class="form-control" disabled></div>
        <div class="alert alert-danger" *ngIf="des.invalid && des.touched"> Activity Id is required</div>

        <div>Description</div>
        <div><input type="text" name="name" [(ngModel)]="modifyActivity.description" required #des="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="des.invalid && des.touched"> Description is required</div>

        <div>
            <div>Charges</div>
            <div><input type="text" name="cname" [(ngModel)]="modifyActivity.charges" required #mlbal="ngModel" class="form-control" pattern="^[1-9]\d{0,7}(?:\.\d{1,4})?$"/></div>
            <div class="alert alert-danger" *ngIf="mlbal.touched&& mlbal.errors?.required"> Charges are required</div>
            <div class="alert alert-danger" *ngIf="mlbal.errors?.pattern">invalid charges</div>
            </div>
        <div class="mt-2 text-center">
            <input type="submit" value="update Activity" [disabled]="!frm.valid" class="btn btn-secondary"/> 
            <button type="button" (click)="cancel()" value="Cancel"   class="btn btn-success">Cancel</button>
        </div>
    
        
    </form>
    
</div>

<div *ngIf="!updateDiv" > 
    <Div class="mt-2 text-center" ><H1 >View All Activities</H1> </Div>
  
    <table class="table table-striped" border="1">

        <tr>
            <th> Activity ID</th>
            <th>Description</th>
            <th>Charges</th>
            
             
        </tr>
        <tr *ngFor="let activity of activities">
            <td>{{activity.activityId}}</td>
            <td>{{activity.description}}</td>
            <td>{{activity.charges}}</td>
     
            <td>
                <button type="button" (click)="update(activity)" value="Update"  class="btn btn-success">Update</button>
                
            </td>
        </tr>
    </table> 
</div>  
