
<div class="alert alert-success" *ngIf="msg !=undefined"> {{msg}}</div>
<div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>

<div  > 
    <Div class="mt-2 text-center" ><H1 >View All Activities</H1> </Div>
  
    <table class="table table-primary table-striped table-hover col-md-8 mx-auto mt-3" border="1">

        <tr>
            <th> Activity ID</th>
            <th>Description</th>
            <th>Charges</th>
           
             
        </tr>
        <tr *ngFor="let activity of activities">
            <td>{{activity.activityId}}</td>
            <td>{{activity.description}}</td>
            <td>{{activity.charges}}</td>
     

        </tr>
    </table> 
</div>  
