
<link rel="stylesheet" href="login.component.css">
   <div class="w-100 p-3" align="center">

   <div class="slider">
     <div class="slides" >
       <input type="radio" name="radio-btn" id="radio1">
       <input type="radio" name="radio-btn" id="radio2">
        
       <div class="slide first" >
         <img src="../assets/img/2.jpg" alt="">
   
       </div>
       <div class="slide  " >
         <img src="../assets/img/5.jpg" alt="">
         
 
     </div>
   
   
    </div>
    <div class="navigation-manual" >
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
        
    </div>
   </div>
   

   

  


<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>



<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><b>Login Here</b></button>

<div id="id01" class="modal">
  
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <h3 class="text-center"><b>Login Here</b></h3>

    
<div *ngIf="storageservice.msg != undefined" class="alert alert-warning">{{storageservice.msg}}</div>
<form #frm="ngForm" (ngSubmit)="doLogin()"> 
  <div class="fields text-start">User Id</div>
  <div><input type="text" name="txtname" [(ngModel)]="login.userId" #loginuid="ngModel" required
      class="form-control" /></div>
  <div class="alert alert-danger" *ngIf="loginuid.invalid && loginuid.touched">UserId is Required</div>

  <div class="fields text-start">Password</div>
  <div><input type="password" name="txtpwd" [(ngModel)]="login.password" #loginpwd="ngModel" required
      class="form-control" /></div>
  <div class="alert alert-danger" *ngIf="loginpwd.invalid && loginpwd.touched">Password is required</div>

  <input type="submit" value="Login" >
</form>

    <div class="container" style="background-color:#fffafa">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
