  
        <div *ngIf="booking">
            <section class="col-md-4 mx-auto" layout="column" layout-align="center" >
                
                <h2 class="text-center">Book Tickets</h2>
                <div class="alert alert-success" *ngIf="msg !=undefined"> {{msg}}</div>
                <div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>
                
                <form #frm="ngForm" (ngSubmit)="bookticket()">
                 
                    <h4>{{activity.description}}</h4>    
                    <div>
                    <div><b>Date of Visiting</b></div>
                    <div><input type="text" name="Dov" [(ngModel)]="ticketbooking.dateOfVisiting" required #mlcname="ngModel" class="form-control" pattern="^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$"/></div>
                    <div class="alert alert-danger" *ngIf="mlcname.invalid && mlcname.touched"> date is required</div>
                    <div class="alert alert-danger" *ngIf="mlcname.errors?.pattern"> date must be in YYYY-MM-DD format</div>
                    </div>
                    <div><b>Number of Tickets</b></div>
                    <div><input type="text" name="not" [(ngModel)]="ticketbooking.numberOfTickets" required #mlcname="ngModel" class="form-control"/></div>
                    <div class="alert alert-danger" *ngIf="mlcname.invalid && mlcname.touched"> number is required</div>
            
                    <div class="mt-2 text-center"><input type="submit"  value="Book ticket"  class="btn btn-primary"/> </div>
                </form>
            
            </section>
            </div>
     <div *ngIf="!booking">
         <section class="section-2 container-fluid p-0">
        
        <div class="cover">
                <div class="overlay"></div>
                <div class="content text-center">
                    <h2>Book an Activity Now!!</h2>
                </div>
            </div>
             
            <div class="container-fluid text-center">
                <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                    <div class="rect" *ngFor="let activity of activities">
                        <h2>{{activity.description}}</h2> 
                    <br>
                        <h4>₹{{activity.charges}}</h4><br>
                        <a  class="btn btn-primary" type="button" (click)="book(activity)" value="Book Tickets">Book Now</a>
                    </div>
                    
                </div>
            </div> 
        
        </section>
     </div>

