
<div class="alert alert-success" *ngIf="msg !=undefined"> {{msg}}</div>
<div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>

<div  > 
    <Div class="mt-2 text-center" ><H1 >View All Tickets</H1> </Div>
  
    <table class="table table-primary table-striped table-hover col-md-8 mx-auto mt-3" border="1">

        <tr>
            <th> Ticket Id</th>
            <th> Customer Id</th>
            <th> Activity Id</th>
            <th> Date of Booking</th>
            <th> Date of Visiting</th>
            <th> Number of Tickets</th>
            <th> Bill</th>
             
        </tr>
        <tr *ngFor="let ticketbooking of ticketbookings">
            <td>{{ticketbooking.ticketBookingId}}</td>
            <td>{{ticketbooking.customer.userId}}</td>
            <td>{{ticketbooking.activity.activityId}}</td>
            <td>{{ticketbooking.dateOfBooking}}</td>
            <td>{{ticketbooking.dateOfVisiting}}</td>
            <td>{{ticketbooking.numberOfTickets}}</td> 
            <td>{{ticketbooking.bill}}</td>
        </tr>
    </table> 
</div>  
