<section class="col-md-4 mx-auto">
    <h2 class="test-center">Please Fill Details</h2>
    <div class="alert alert-success" *ngIf="msg !=undefined"> {{msg}}</div>
    <div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>
    
    
    <form #frm="ngForm" (ngSubmit)="updateCustomer()">
        <div class="field-name">Customer Id</div>
        <div><input type="Number" name="cid" [(ngModel)]="customer.customerId" required #mlcname="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="mlcname.invalid && mlcname.touched"> Customer Id is required</div>

        <div class="field-name">Type</div>
        <div><input type="text" name="ctype" [(ngModel)]="customer.type" required #mlcname="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="mlcname.invalid && mlcname.touched"> Customer type is required</div>

        <div class="field-name"> Name</div>
        <div><input type="text" name="cname" [(ngModel)]="customer.username" required #mlcname="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="mlcname.invalid && mlcname.touched"> Customer Name is required</div>

        <div class="field-name">Password</div>
        <div><input type="password" name="aid" [(ngModel)]="customer.password" required #modelaid="ngModel" class="form-control"></div>
        <div class="alert alert-danger" *ngIf="modelaid.invalid && modelaid.touched">Account ID is required</div>

        
        <div class="field-name">Mobile</div>
        <div><input type="number" name="cphno" [(ngModel)]="customer.mobileNumber" required #mlbal="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="mlbal.invalid && mlbal.touched"> Number is required</div>

        <div class="field-name">Email</div>
        <div><input type="text" name="cemail" [(ngModel)]="customer.email" required #mlbal="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="mlbal.invalid && mlbal.touched"> Mail Id is required</div>

        <div class="field-name">Address</div>
        <div><input type="textarea" name="caddress" [(ngModel)]="customer.address" required #mlbal="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="mlbal.invalid && mlbal.touched"> Address is required</div>

        <div class="mt-2 text-center"><input type="submit" value="Update" [disabled]="!frm.valid" class="btn btn-sucess"/> </div>
    </form>
</section>

