<div class="jumbotron text-black jumbotron-image shadow">
   &nbsp;
   &nbsp;
   <header class="jumbotron text-center">
     <h2 class="display-4">
       <h1>{{title}}</h1>
     </h2>
    </header>
     <p class="lead"  style="font-size:2vw; color: white;" >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b> -You deserve more fun </b> 
     </p>
     &nbsp;
     &nbsp;
   </div>
<div>
<ul>
  
  <li *ngIf="storageservice.loginflag && storageservice.role=='admin' "><a  routerLink="admin" > Customers</a></li>
  <li *ngIf="storageservice.loginflag && storageservice.role=='customer'"><a  routerLink="activitybycustomer" > Activities</a></li>
  <li *ngIf="storageservice.loginflag && storageservice.role=='admin'"><a  routerLink="addactivity" >Add Activity</a></li>
  <li *ngIf="storageservice.loginflag && storageservice.role=='admin'"><a  routerLink="updateactivity" >Update Activity</a></li>
  <li *ngIf="storageservice.loginflag && storageservice.role=='customer'"><a  routerLink="profile" > Profile</a></li>
  <li *ngIf="storageservice.loginflag && storageservice.role=='admin'"><a  routerLink="viewtktbydate" > View Tickets</a></li> 
  <li *ngIf="!storageservice.loginflag "><a routerLink="login" >Login</a></li>
  <li *ngIf="!storageservice.loginflag "><a routerLink="registration" >Register</a></li>
  <li *ngIf="storageservice.loginflag"><a (click)="logout()" >Logout</a></li>

</ul>
</div>

<router-outlet></router-outlet>