<header class="jumbotron text-center">
  <h1>{{title}}</h1>
  <div class="col-8 mx-auto">{{storageservice.username|titlecase}}</div>
</header>
<div>
<ul>
  
  <li *ngIf="storageservice.loginflag && storageservice.role=='admin' "><a  routerLink="admin" > Customers</a></li>
  <li *ngIf="storageservice.loginflag && storageservice.role=='customer'"><a  routerLink="activitybycustomer" > Activities</a></li>
  <li *ngIf="storageservice.loginflag && storageservice.role=='admin'"><a  routerLink="addactivity" >Add Activity</a></li>
  <li *ngIf="storageservice.loginflag && storageservice.role=='customer'"><a  routerLink="ticketbycustomer" > My Tickets</a></li>
  <li *ngIf="storageservice.loginflag && storageservice.role=='customer'"><a  routerLink="customerbyid" > Profile</a></li>
  <li *ngIf="!storageservice.loginflag "><a routerLink="login" >Login</a></li>
  <li *ngIf="storageservice.loginflag"><a (click)="logout()" >Logout</a></li>

</ul>
</div>

<router-outlet></router-outlet>