<div  > 
    <Div class="mt-2 text-center" ><H1 >My Profile</H1> </Div>
  
    <table border="1">

        <tr>
            <td>User Id</td>
            <td>{{customer.userId}}</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{customer.username | titlecase}}</td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td>{{customer.mobileNumber}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{customer.email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{customer.address}}</td>
        </tr>
    </table> 

</div>