<section>
<div > 
    <Div class="mt-2 text-center" ><H1 >My Profile</H1> </Div>
  
    <table class="table">

        <tr>
            <td><b>User Id</b></td>
            <td>{{customer.userId}}</td>
        </tr>
        <tr>
            <td><b>Username</b></td>
            <td>{{customer.username | titlecase}}</td>
        </tr>
        <tr>
            <td><b>Mobile Number</b></td>
            <td>{{customer.mobileNumber}}</td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td>{{customer.email}}</td>
        </tr>
        <tr>
            <td><b>City</b></td>
            <td>{{customer.address}}</td>
        </tr>
    </table> 

</div>
</section>